$color:#333;
section{
    background-color: $color;
    margin:0;
    top:0;
    position: absolute;
    height:100vh;
    width:20vw;
    .Logo{
        padding:10%;
        width:25%;
        height:25%;
    }

}